//Mobile Toolbar Panel Variables
$mobile-toolbar-panel-bg-color: $background-white;
$mobile-toolbar-panel-shadow: $shadow1;
$mobile-toolbar-panel-padding: .5rem 1rem;
$mobile-toolbar-panel-zindex: $zindex-sticky;