// Global Navigation Rules

.main-nav {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: $zindex-fixed;
}

.main-body {
    min-height: 100vh;
    margin-top: 133px;

    @include media-breakpoint-up(md) {
        margin-top: 80px;
    }
}

.nav-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: $main-nav-shadow;
    background-color: $background-dark;
    padding: $global-nav-padding;
    border-bottom: 1px solid $gray-100;

    &>.logo {
        height: $nav-menu-height;
        width: auto;
        margin-right: 32px;

        &>img {
            height: 100%;
            width: auto;
        }
    }

    & .type-ahead-btn {
        flex: 2 0 0px;
        display: inline-flex;
        padding: 0px;
        border: 0px;
        background-color: transparent;
        overflow: hidden;

        @include media-breakpoint-up(md) {
            margin-right: 32px;
        }

        &>.type-ahead-input {
            width: 100%;
            height: $nav-menu-height;
            border: 1px solid $gray-200;
            background-color: white;
            text-align: left;
            padding: 10px 16px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        &>.type-ahead-faux-btn {
            display: flex;
            background-color: $type-ahead-faux-btn-color;
            height: $nav-menu-height;
            padding: 8px 16px;
            @extend .rounded-right;
        }
    }

}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    //padding: $nav-menu-padding;

    &>.divider {
        width: $nav-menu-divider-line-width;
        background-color: $nav-menu-divider-line-color;
        margin: 0px $nav-menu-divider-margins;
    }

    &>a {
        position: relative;
        font-family: $nav-menu-font-family;
        color: $nav-menu-color;
        height: $nav-menu-height;
        font-size: $nav-menu-font-size;
        line-height: $nav-menu-line-height;
        margin: $nav-menu-margin;
        text-transform: $nav-menu-text-transform;
        min-width: 40px;
        padding: $nav-menu-btn-padding-y $nav-menu-btn-padding-x;
    }

    &>a:hover,
    &>a.active,
    .nav-more.active {
        text-decoration: none;
        color: $nav-menu-color-hover-active;
        @extend .svg-fill-primary;

        &:before {
            transform: scaleX(1);
        }
    }

    &>a:last-child {
        margin: 0px;
    }

    &>a:before {
        display: block;
        content: '';
        border-bottom: solid 3px $nav-menu-color-hover-active;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        bottom: 0px;
        position: absolute;
        width: calc(100% - #{($nav-menu-btn-padding-x * 2)});
    }

    &>.nav-more:after,
    .nav-more.active:after {
        content: $main-menu-arrow-down;
        display: inline-block;
        width: $nav-more-icon-size;
        height: $nav-menu-line-height;
        padding: $nav-more-icon-padding;
        vertical-align: middle;
    }

    &>.nav-more.active:after {
        content: $main-menu-arrow-up;
    }

    &>.nav-more:not(.active):hover:after {
        content: $main-menu-arrow-down-hover;
    }

    &>.nav-icon {
        background-color: transparent;
        border: none;

        &>svg {
            width: 32px;
        }
    }

    &>.nav-icon:before {
        display: none;
    }

}

.nav-backdrop {
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0.5;

    @include media-breakpoint-up(lg) {
        position: absolute;
        top: 0;
        top: 80px;
    }
}

//Global Nav Slide-out
.sub-menu-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    transition: all 0.33s;
    position: fixed;
    left: 0;
    top: -32px;
    right: -1000px;
    opacity: 0;
    visibility: hidden;
    background: $sub-menu-container-bg;
    color: $sub-menu-link-color;
    z-index: $zindex-dropdown;
    height: 100vh;


    @include media-breakpoint-up(lg) {
        height: auto;
        top: -50px;
        right: 0;
    }

    &.open {
        max-height: 100vh;
        visibility: visible;
        opacity: 1;
        position: fixed;
        right: 0;

        @include media-breakpoint-up(lg) {
            top: 80px;
        }
    }

    & a {
        display: block;
    }

    & .subtitle {
        @include font-weight-type($subtitle-font-weight, $subtitle-font-family);
        line-height: $subtitle-line-height;
        letter-spacing: $subtitle-letter-spacing;
        text-transform: $subtitle-text-transform;
    }

    & .sub-menu-list-title {
        padding-top: 0px;
        padding-bottom: 0px;
    }

}

// My Account Styles
.account-container {
    top: 0px;
    height: 100%;
    width: 312px;
    transition: all 0.2s ease-in-out;
    right: -320px;
    left: auto;
    position: absolute;
    z-index: 1;
    box-shadow: $shadow2;
    overflow-y: auto;

    @include media-breakpoint-up(lg) {
        width: 696px;
        height: auto;
        border-radius: 0px 0px 0px 4px;
        right: 0;
        overflow-y: hidden;
    }

    button {
        background-color: transparent;
        border: none;
    }

    .sub-menu-heading {
        font-size: 18px;
        @include font-weights($font-weight-bolder);
    }

    & .subtitle {
        @include font-weight-type($font-weight-bolder, $font-weight-bolder);
        margin: 0px;
    }
}

.account-section {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
    padding: 16px 0px;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base*1;
    width: 100%;

    &:last-child {
        border-bottom: none;
    }

    &>a {
        color: $nav-menu-color;
        text-decoration: none;
        width: 100%;
        display: block;
        padding: 8px 24px;

        img {
            float: left;
            margin-right: 8px;
        }

        span {
            line-height: 24px;
        }

        &:hover {
            background-color: $interactive-hover-bg;
        }
    }

    & .sub-menu:after {
        content: $main-menu-mobile-arrow-right;
        float: right;
        width: 24px;
    }

    li {
        cursor: pointer;
    }

    li:hover {
        background-color: #e6f8fc;
    }
}

.promo-container {
    background-color: $gray-50;
    padding: 24px;
}

.account-menus {
    padding: 0px;
    background-color: $white;
}



//Slide-out Menu Styles
.slide-menu-container {
    top: 0px;
    height: 100%;
    width: 320px;
    transition: all 0.2s linear;
    right: 0px;
    position: absolute;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ffffff;
    padding-bottom:160px;

    &.slide-in {
        right: 0px;
    }

    &.slide-out {
        right: -400px;
    }

    &>.slide-back-btn {
        @include font-weight-type($font-weight-bold, $font-family-sans-serif);
        color: $black;
        font-size: 1rem;
        text-transform: uppercase;
    }
}

.sub-menu-btn,
.sub-menu-btn-sm {
    display: flex !important;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base*1.25;
    color: $text-black;
    list-style-type: none;
    margin-top: 1rem;
    text-align: left;
    height: 100px;
    background-color: white;
    border-radius: $border-radius;
    padding: 24px 16px;
    box-shadow: $shadow1;
    transition: all .3s ease-in-out;

    &>img {
        flex: 0 0 auto;
        width: 55px;
        height: auto;
    }

    &>p {
        padding: 0px 1rem;
        margin: 0px;
        line-height: 1.5;
        text-decoration: none;
    }


}

.sub-menu-btn-sm {
    flex: 0 0 0;

    &>img {
        flex: 0 0 auto;
        width: 24px;
        height: auto;
    }
}

.sub-menu-btn:hover,
.sub-menu-btn-sm:hover {
    text-decoration: none;
    box-shadow: $shadow4;
}

.sub-menu-list {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base*1.25;
    list-style-type: none;
    padding: 0px;


    a {
        text-decoration: none;
        color: $sub-menu-link-color;
        cursor: pointer;
        padding: $sub-menu-list-padding;
        margin: $sub-menu-list-margins;
        font-size: $sub-menu-list-font-size;
        line-height: $sub-menu-list-line-height;
    }

    a:hover {
        background-color: #e6f8fc;
    }

}

.sub-menu-promo-block {
    display: block;
    position: relative;
    box-shadow: $shadow1;
    transition: all .3s ease-in-out;

    &>p {
        width: 100%;
        background-color: $white;
        @include font-weight-type($sub-menu-promo-block-font-weight, $subtitle-font-family);
        text-align: $sub-menu-promo-block-text-align;
        padding: $sub-menu-promo-block-padding;
        text-transform: $sub-menu-promo-block-text-transform;
        color: $sub-menu-promo-block-color;
        position: absolute;
        bottom: 0;
        margin: 0;
    }

    &:hover {
        box-shadow: $shadow4;
        text-decoration: none;
    }
}

.HamBurgerMenuDisplay {
    z-index: 1;
}

.nav-position {
    position: fixed;
    right: 0;
}

// Notification Widget Styles
.notification-container {
    position: absolute;
    right: 0px;
    left: auto;
    background: #ffffff;
    width: 320px;
    box-shadow: $shadow2;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(lg) {
        border-radius: 0px 0px 0px 4px;
        width: 416px;
    }

    .notification-messages {
        overflow-y: auto;
        padding: 0px;

        &>.message {
            display: flex;
            flex-direction: row;
            padding: 8px 32px;
            border-bottom: 1px solid #B2B2B2;

            &:last-child {
                border-bottom: none;
            }

            &:first-child {
                border-top: 1px solid #B2B2B2;
            }

            &>.icon {
                width: 32px;
                height: 32px;
                align-self: center;
                margin-right: .5rem;
            }

            &>p {
                margin: 0px;
            }
        }

    }

    button {
        background: transparent;
        border: none;
    }
}