//Default Stepper Styles
$step-number-size: 24px;
$step-number-bg-color: $primary;

$step-description-font: $font-family-sans-serif-semibold;
$step-description-color: $primary;

$step-counter-font-family: $font-family-sans-serif-semibold;
$step-counter-color: $text-muted;

$step-dash-size: 1px;

$counter-margin-left: 8px;

//Selected Step
$step-description-selected-font: $font-family-sans-serif-bold;
$step-description-selected-color: $text-black;

//Completed Step
$check-icon-color: white;
$step-number-check: str-replace(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24 24'%3E%3Cpolygon fill='#{$check-icon-color}' points='9.189 14.939 6.061 11.811 5 12.873 9.189 17.061 18.189 8.061 17.128 7'/%3E%3C/svg%3E"), "#", "%23");

$step-description-completed-color: $text-black;

//Disabled Step
$step-number-bg-disabled: $background-disabled;
$step-description-disabled-color: $text-disabled;