@mixin alert-variant($background, $border, $color) {
  @include text-contrast($background);
  @include gradient-bg($background);
  border-color: $border;

  hr {
    border-top-color: darken($border, 5%);
  }

  .alert-link {
    @include text-contrast($background);
    text-decoration: underline;;
  }
}
