@mixin word-wrap() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  @mixin font-weights($familyUsed, $font-weights) {
    @if $familyUsed {
      font-family: $font-weights !important;
    } @else {
      font-weight: $font-weights !important;
    }
  }