$favorite-search-card-bg: white;

$favorite-card-padding: $spacer * 1.5;
$favorite-card-border-size: 1px;

$favorite-card-title-font: $font-family-sans-serif-semibold;
$favorite-card-title-size: $h3-font-size;
$favorite-card-title-lh: $h3-line-height;
$favorite-card-title-margin: $spacer;

$favorite-card-list-text: $spacer;
$favorite-card-list-padding-x: 1rem;
$favorite-card-list-padding-y: 0.375rem;
$favorite-card-list-bg-color: $gray-100;
$favorite-card-list-bg-radius: 1rem * 5;
$favorite-card-list-margin: 1rem;

//Favorite Card Back
$favorite-card-back-bg-color: $background-dark;

$text-margins: 0px 0px 12px;
$search-title-font-weight: $font-weight-bold;
$search-title-font-family: $font-family-sans-serif-semibold;