// Image Viewer Variables

//Overlay Styles
$img-viewer-bg-color: $white;
$img-viewer-content-padding: 24px;

// Thumbnails

$img-viewer-thumbnail-margin-bottom: 38px;

$img-counter-font-weight: $font-weight-bold;
$img-counter-padding: 16px;