//Flex Panel Core Component Variables

$flex-panel-background-color:white;
$flex-panel-zindex:$zindex-fixed;
$flex-panel-border-radius: 8px;
$flex-panel-padding:16px;
$flex-panel-box-shadow:$shadow4;

$flex-panel-label-color:$text-black;
$flex-panel-label-font-family: $font-family-sans-serif-bold;

$flex-panel-close-btn-width: 74px;

$flex-panel-divider-color: white;